[submodule "src/PX4-Autopilot"]
	path = src/PX4-Autopilot
	url = git@github.com:PX4/PX4-Autopilot.git
[submodule "src/air_bulbasaur"]
	path = src/air_bulbasaur
	url = git@github.com:MichaelKerley/air_bulbasaur.git
[submodule "src/superSafeLanding"]
	path = src/superSafeLanding
	url = git@github.com:MichaelKerley/superSafeLanding.git
[submodule "src/ros_deep_learning"]
	path = src/ros_deep_learning
	url = https://github.com/MichaelKerley/ros_deep_learning.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = git@github.com:MichaelKerley/realsense-ros.git
