<?xml version="1.0"?>
<model>
    <name>tarot_drone_custom</name>
    <version>1.7</version>
    <sdf version="1.7">tarot_drone_custom.sdf</sdf>

    <author>
        <name>Michael Kerley</name>
        <email>michael@arcuas.io</email>
    </author>

    <description>
        This is a model of custom made tarot drone for arcuas
    </description>
</model>